/* General style */

body {
    background-color: rgb(34, 105, 122);
    font-family: "Roboto", sans-serif;
    font-size: 110%;
    color: #ffffff;
    text-align: center;
}

a {
    color: inherit;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 3rem;
}

.logo {
    font-size: 3rem;
    line-height: 0.5px;
    letter-spacing: 10px;
}

/* Game area styling*/

.game-area {
    background-color: #ffffff;
    box-sizing: content-box;
    border-radius: 25px;
    width: 90%;
    height: 65vh;
    height: 650px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7%;
    color: rgb(34, 105, 122);
}

/* Game buttons */

.options {
    margin-bottom: 20px;
}

.btn {
    width: 80px;
    height: 80px;
    outline-color: transparent;
    border-color: grey;
    position: relative;
    border-radius: 0.2em;
    text-align: center;
    margin-top: 15px;
}

.icon {
    font-size: 50px;
    position: absolute;
    color: rgb(34, 105, 122);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* Game result area */

.vs {
    padding-top: 55px;
    padding-bottom: 55px;
    height: 100px;
    width: 100px;
}

.user-result {
    float: left;
    padding-left: 100px;
}

.computer-result {
    float: right;
    padding-right: 100px;
}

.player-score-tally {
    float: left;
    padding-left: 100px;
}

.computer-score-tally {
    float: right;
    padding-right: 100px;
}

.result_text {
    font-size: 160%;
}

.text_result {
    color: black;
}

.game_image {
    width: 210px;
    height: 210px;
}

/* Rules */

.rulesTitle {
    text-decoration: underline;
}

/* Footer styling */

footer {
    background-color: white;
    color: rgb(34, 105, 122);
    margin-top: 70px;
}

/* Media queries */

@media (max-width: 900px) {
    .heading {
        font-size: 2rem;
    }

    .logo {
        font-size: 2rem;
    }

    .result_text {
        font-size: 130%;
    }

    .game-area {
        max-height: 570px;
    }

    .vs {
        height: 75px;
        width: 75px;
    }

    .user-result {
        padding-left: 50px;
    }

    .computer-result {
        padding-right: 50px;
    }

    .game_image {
        width: 180px;
        height: 180px;
    }


    .player-score-tally {
        padding-left: 50px;
        font-size: 75%;
    }

    .computer-score-tally {
        padding-right: 50px;
        font-size: 75%;
    }


}

@media (max-width: 645px) {
    .result_text {
        font-size: 110%;
    }

    .game-area {
        height: 510px;
    }

    .vs {
        height: 50px;
        width: 50px;
    }

    .user-result {
        padding-left: 25px;
    }

    .computer-result {
        padding-right: 25px;
    }

    .game_image {
        width: 160px;
        height: 160px;
    }


    .player-score-tally {
        padding-left: 25px;
        font-size: 60%;
    }

    .computer-score-tally {
        padding-right: 25px;
        font-size: 60%;
    }

    .rules-area {
        font-size: 93%;
    }


}


@media (max-width: 500px) {
    .heading {
        font-size: 1.5rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .options {
        scale: 75%;
        margin-bottom: 0;
    }

    .result_text {
        font-size: 95%;
    }

    .game-area {
        height: 480px;
        padding: 0;
    }

    .vs {
        height: 40px;
        width: 40px;
    }

    .user-result {
        padding-left: 15px;
    }

    .computer-result {
        padding-right: 15px;
    }

    .game_image {
        width: 120px;
        height: 120px;
    }


    .player-score-tally {
        padding-left: 25px;
        font-size: 50%;
    }

    .computer-score-tally {
        padding-right: 25px;
        font-size: 50%;
    }

    .rules-area {
        font-size: 85%;
    }


}

@media (max-width: 479px) {
    .heading {
        font-size: 1rem;
    }

    .logo {
        font-size: 1rem;
    }

    .game-area {
        height: 550px;
        padding: 0;
    }

    .game-area-text {
        font-size: 75%;
    }

    .options {
        scale: 70%;
        margin-bottom: 0;
    }

    .result_text {
        font-size: 85%;
    }

    .vs {
        height: 35px;
        width: 35px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .user-result {
        padding-left: 5px;
    }

    .computer-result {
        padding-right: 5px;
    }

    .game_image {
        width: 100px;
        height: 100px;
    }


    .player-score-tally {
        padding-left: 10px;
        font-size: 35%;
    }

    .computer-score-tally {
        padding-right: 10px;
        font-size: 35%;
    }

    .rules-area {
        font-size: 75%;
    }
}