/* General style */

body {
    background-color: rgb(45, 135, 158);
    font-family: "Roboto", sans-serif;
    font-size: 110%;
    color: #ffffff;
    text-align: center;
}

a {
    color: inherit;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 3rem;
}

.logo {
    font-size: 3rem;
    line-height: 0.5px;
    letter-spacing: 10px;
}

/* Game area styling*/

.game-area {
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 25px;
    width: 90%;
    height: 65vh;
    max-height: 600px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7%;
    color: rgb(45, 135, 158);
}

/* Game buttons */

.options {
    margin-bottom: 20px;
}

.button-area {
    word-spacing: 30px;
    margin-bottom: 50px;
}

.btn {
    width: 70px;
    height: 70px;
    font-size: 250%;
    color: rgb(45, 135, 158);
    margin-top: 20px;
}

/* game result area */

.vs {
    padding-top: 60px;
}

.user-result {
    float: left;
    padding-left: 100px;
}

.computer-result {
    float: right;
    padding-right: 100px;
}

.player-score-tally {
    float: left;
    padding-left: 100px;
}

.computer-score-tally {
    float: right;
    padding-right: 100px;
}

.row {
    font-size: 150%;
}

/* footer styling */

footer {
    background-color: white;
    color: rgb(45, 135, 158);
    margin-top: 70px;
}