/* General style */

body {
    background-color: rgb(45, 135, 158);
    font-family: "Roboto", sans-serif;
    font-size: 110%;
    color: #ffffff;
    text-align: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 3rem;
}

.logo {
    font-size: 3rem;
    line-height: 0.5px;
    letter-spacing: 10px;
}

/* Game area styling*/

.game-area {
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 25px;
    width: 90%;
    height: 65vh;
    max-height: 600px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7%;
    color: rgb(45, 135, 158);
}

/* Game buttons */

.button-area {
    word-spacing: 30px;
}

.btn {
    width: 70px;
    height: 70px;
    font-size: 250%;
    color: rgb(45, 135, 158);
    margin-top: 20px;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after {
    content: attr(data-type);
    font-size: 1rem;
    color: #445361;
    position: relative;
    left: -0.5em;
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--gray {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}